= form_for([@allowance.account, @allowance]) do |f|
  - if @allowance.errors.any?
    #error_explanation
      %h2
        = pluralize(@allowance.errors.count, "error")
        prohibited this allowance from being saved:
      %ul
        - @allowance.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :amount
    %br
    = f.text_field :amount
  .field
    = f.label :started_at
    %br
    = f.date_select :started_at
  .actions
    = f.submit
