%h1 Listing allowances for account #{@account.name}
%table
  %tr
    %th Amount
    %th Started at
    %th Ended at
    %th
    %th
    %th
  - @allowances.each do |allowance|
    %tr
      %td= allowance.amount
      %td= allowance.started_at
      %td= allowance.ended_at
      %td= link_to 'Edit', edit_allowance_path(allowance)
      %td= link_to 'Destroy', allowance, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Allowance', new_account_allowance_path(@account)
|
= link_to 'Back', accounts_path
