= form_for([@account, @expense]) do |f|
  - if @expense.errors.any?
    #error_explanation
      %h2
        = pluralize(@expense.errors.count, "error")
        prohibited this expense from being saved:
      %ul
        - @expense.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :description
    %br
    = f.text_field :description
  .field
    = f.label :amount
    %br
    = f.text_field :amount
  .field
    = f.label :paid_at
    %br
    = f.date_select :paid_at
  .actions
    = f.submit
